.overviewContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: var(--height-container);
}

.employeeOverview {
  display: flex;
  flex-direction: row;
  border: 3px solid #000;
  border-top: none;
  height: 100%;
}

.title {
  display: flex;
  align-items: center;
  padding: 10px;
  height: var(--header-height);
  font-size: 20px;
}

.action {
  width: 40%;
  height: 100%;
  border-top: none;
  box-sizing: border-box;

  .actionSearch {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    height: calc(var(--height-container) - var(--header-height));
    border-right: 3px solid #000;
  }

  .taskHeader {
    background: var(--khuvuc-hover-color);
  }
}

.attr {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}

.c1 {
  width: 120px;
  background: var(--khuvuc-color);
}

.c2 {
  width: 180px;
  background: var(--white-color);
}

.c3 {
  width: 180px;
  background: var(--white-color);
}

.tableSection {
  width: 60%;
  .empInfoTable {
    background: rgba(197, 194, 194, 0.28);
  }

  .table {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .tableHeaderInfo {
      display: flex;
      flex-direction: row;
      height: 10%;
      border: 3px solid #000;
      border-right: none;
      border-left: none;
      .sort {
        padding-left: 40px;
      }
    }
  }

  .tableItemContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 80%;
    overflow-y: auto;
    border-bottom: 3px solid #000;

    .tableInfoItem {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 45px;
      border-bottom: 3px solid #b1a9a9;

      .viewInfo {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px;
        width: 20%;
        text-decoration: none;
        color: var(--view-color);
      }

      .viewInfo:hover {
        filter: var(--filter-hover);
      }
    }
  }
}
