:root {
  --button-active: #869ced;
}

.InfoCategory__container {
  width: 100%;
  height: 56px;
  background: var(--khuvuc-color);
  border: 3px solid #000;
  border-radius: 20px 0px 0px 0px;

  .Infomation__category {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    height: 100%;

    .table__btn {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 25%;
      border-right: 3px solid #000;
      color: #000;
      text-decoration: none;
    }

    .active {
      background: var(--button-active);
    }

    .img {
      padding-right: 15px;
      width: 50px;
    }

    .last__table__btn {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 25%;
      border-radius: 0px 20px 0px 0px;
      border-right: 3px solid #000;
      color: #000;
      text-decoration: none;
    }
  }
}
