.emp {
  background-color: var(--emp-color);
}

.emp:hover {
}

.buttonHover:hover {
  font-size: 25px;
  cursor: pointer;
}

.map {
  background-color: var(--map-color);
}

.headerContainer {
  width: 100%;
  height: 50px;
  background: var(--khuvuc-color);
  border: 3px solid #000;
  border-radius: 20px 0px 0px 0px;

  .headerContent {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    height: 100%;

    .img {
      padding-right: 15px;
      width: 50px;
    }
  }
}

.tableBtn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  border-right: 3px solid #000;
  color: #000;
  text-decoration: none;
  border-radius: 20px 0 0 0;
  cursor: context-menu;
}

.lastBtn {
  border-radius: 0px 20px 0px 0px;
}
