.Tasks {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 437px;
  .TaskHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    width: 100%;
    height: 50px;
    background: #ded9d9;
  }

  .TaskContainer0 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    height: 387px;
    /* White */
    background: var(--white);
    border-bottom: 3px solid #000;
    .TaskContainer1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0px;
      gap: 20px;
      width: 70%;
      height: 347px;
      overflow-y: scroll;

      .JanitorTaskInfo {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px 0px 10px;
        gap: 20px;
        width: 100%;
        height: 116px;
        border-bottom: 3px solid #000000;
        .TaskTime {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 0px;
          gap: 10px;
          width: 80%;
          height: 22px;
          .TimeLabel {
            width: 40%;
            height: 22px;
            font-family: "Josefin Sans";
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 22px;
            /* identical to box height */

            color: #000000;
          }

          .TaskTime {
            width: 60%;
            height: 22px;

            /* Destop text */

            font-family: "Josefin Sans";
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 22px;
            /* identical to box height */

            color: #000000;
          }
        }

        .VungInfo {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 0px;
          gap: 10px;

          width: 100%;
          height: 22px;
          .LocationLabel {
            width: 20%;
            height: 22px;

            /* Destop text */

            font-family: "Josefin Sans";
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 22px;
            /* identical to box height */

            color: #000000;
          }
          .Location__Label {
            width: 30%;
            height: 22px;

            /* Destop text */

            font-family: "Josefin Sans";
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 22px;
            /* identical to box height */

            color: #000000;
          }
          .KhuvucLabel {
            width: 20%;
            height: 22px;

            /* Destop text */

            font-family: "Josefin Sans";
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 22px;
            /* identical to box height */

            color: #000000;
          }
          .Khuvuc {
            width: 30%;
            height: 22px;

            /* Destop text */

            font-family: "Josefin Sans";
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 22px;
            /* identical to box height */

            color: #000000;
          }
        }

        .ToolInfo {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 0px;
          gap: 10px;

          width: 100%;
          height: 22px;

          .ToolLabel {
            width: 40%;
            height: 22px;

            /* Destop text */

            font-family: "Josefin Sans";
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 22px;
            /* identical to box height */

            color: #000000;
          }

          .ToolName {
            width: 60%;
            height: 22px;

            /* Destop text */

            font-family: "Josefin Sans";
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 22px;
            /* identical to box height */

            color: #000000;
          }
        }
      }
    }
  }
}
