.MapOverview {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 550px;

  .LocationInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    height: 52px;
    background: rgba(197, 194, 194, 0.28);
    border-left: 3px solid #000000;
    border-right: 3px solid #000000;
  }

  .Map__vung {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    border: 3px solid #000;
    width: 100%;
    height: 452px;
    overflow: scroll;
  }
}
